/**
 * login.css
 */
 
/*body*/
body {font:12px Tahoma;margin:0px;text-align:center;background:#FFF;}
#head{
	background:#ccc;
	width:276px;
	height:70px;
	margin:10px auto;
	background-image:url(/MYPRO/html/images/welcome.jpg);
}
#login{
	width:276px;
	margin:10px auto;
}

.margin10{
	margin:10px auto;
}
